<ul>
    <li> <a href="#">Главная</a> </li>
    <li> <a href="#">Клиенты</a> </li>
    <li> <a href="#">Приемы</a> </li>
    <li> <a href="#">Отчеты</a> </li>
    <li> <a href="">Выход</a> </li>
</ul>
