{% extends 'base.html.twig' %}
{% block title %}Nix Fusion{% endblock %}
{% block body %}
<div class="container-fluid text-center mt-5">
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% else %}
        <h2>Nix CRM</h2>
        <span>версия: development-preview. #build 00.0.1</span>
            <br />
        <a href="{{ "/login" }}" class="btn btn-primary btn-lg active mt-5">ВОЙТИ В СИСТЕМУ</a>
    {% endif %}
</div>
{% endblock %}
