{% extends 'base.html.twig' %}

{% block title %}Начало работы{% endblock %}

{% block body %}
<div class="container-fluid text-center mt-5">
    <h2>НАЧАЛО РАБОТЫ</h2>
    <a href="{{ "/login" }}" class="btn btn-primary btn-lg active">ВОЙТИ В СИСТЕМУ</a>
</div>
{% endblock %}
