<!DOCTYPE html>
<html>

{% include "header.html.twig" %}

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 p-0">
    {% include "system/sidebar.html.twig" %}
        </div>
        <div class="col-md-9">
        {% block body %}
        {% endblock %}
        </div>
    </div>
</div>
</body>

{% include "footer.html.twig" %}

</html>
